.cardsflex{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    list-style: none;
    align-items: stretch;
}
@media (max-width:400px) {
    .cardsflex{
        display: block;
        width: 100%;
        height: 100%;
        list-style: none;
    }
}